@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>This Web application were built on EASV CS3 for study purposes.</p>
<br/>

<h3>Developers:</h3>
<ul>
    <li>Ingvar Friðbjörnsson</li>
    <li>Bence Hajdu</li>
    <li>Samo Práznovský</li>
    <li>Dániel Tarsoly</li>
</ul>
