@{
    ViewBag.Title = "Main Page";
}
<h2>@ViewBag.Title</h2>

<ul>
    <li><a href="~/Movies">Movies</a></li>
    <li><a href="~/Genres">Genres</a>
    <li><a href="~/Customers">Customers</a></li>
    <li><a href="~/Addresses">Addresses</a></li>
    <li><a href="~/Orders">Orders</a></li>
</ul>