<br/><img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Symbol_confirmed.svg"/>
<h1>Order confirmed!</h1>
<p>Dear user, we would like to let you know that we registered your order request.
    This means that your film will be delivered to the address you have provided in the following business days.<br/><br />
    We thank you for the support and wish you a nice day.

    <br/><br/>With best regards<br/><br/><span style="float: right"><b>MovieShop team</b></span><br/><br/>
</p><br/><br/><a href="../Movies/Index">Home</a>


